header {
    background-color: rgb(0, 134, 22);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav a {
    margin-left: 16px;
    text-decoration: mone;
    color: rgb(255, 255, 255);
}
.main-title {
    font-size: 34px;
    font-weight: bold;
    color:aliceblue;
    font-family: "impact",sans-serif;
}
.title-icon {
    width: 40px;
    height: 40px;
    position: relative;
    top: 10px;
    border-radius: 50%;
}
.box {
    width: 1000px;
    height: 500px;
    border: 2px solid black;
    display: flex;
    align-content: center;
    font-size: 20px;
    border-radius: 2%;
    position: relative;
    left: 30px;
    top: 30px;
}